<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylessheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
