<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- favicon --}}
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    {{!-- Carggando Materialicecss --}}
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <nav>
      <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">📚 ProjNotes</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Acerca de ...</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <div class="container">
    {{{body}}}
    </div>
    {{!-- Materalize Script --}}
    <script src="/vendor/materialize/js/materialize.min.js""></script>
    {{!-- Bundle de la App --}}
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
