<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- favicon --}}
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    {{!-- Carggando Materialicecss --}}
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{!-- Llamando a la vista parcial de la navbar --}}
    {{> _navbar}}
    <div class="container">
    {{{body}}}
    </div>
    {{!-- Materalize Script --}}
    <script src="/vendor/materialize/js/materialize.min.js"></script>
    {{!-- Bundle de la App --}}
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
